.container {
    padding-block-start: 86px;
    position: relative;
}

.wrapper {
    @media (width >= 1024px) {
        --_sidebar-width: 280px;
        display: grid;
        grid-template-columns: var(--_sidebar-width) 1fr;
    }
}

@media (width <= 1023px) {
    .wrapper {
        display: block;
    }
}
