.container {
    padding-inline: 35px 48px;
    min-height: 100vh;
    max-width: 1920px;
    margin-inline: auto;
    position: relative;
    z-index: 2;

    @media (width <= 550px) {
        padding-inline: 0;
    }
}

.goldImg {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 550px;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top center;
    }
}

.wrapper {
    position: relative;
    padding-block-start: 50px;

    @media (width <= 550px) {
        padding-inline: 20px;
    }

    @media (width <= 440px) {
        padding-inline: 12px;
    }
}

.title {
    font-family: var(--font-barlow-bold-sans), sans-serif;
    font-size: var(--font-size-h2);
    line-height: 38px;
    color: var(--yellow-500);
    padding-block-end: 20px;
    position: relative;
    z-index: 2;

    @media (width <= 768px) {
        padding-block-end: 12px;
    }
}

.tabs {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;

    @media (width <= 768px) {
        gap: 5px;
    }
}

.tab {
    position: relative;
    z-index: 2;
    font-family: var(--font-barlow-bold-sans), serif;
    font-size: var(--font-size-m);
    line-height: var(--font-line-height-130);
    color: var(--text-colory);
    background: rgba(75, 75, 119, 0.2);
    border-radius: 8px;
    padding: 11px 20px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        border-color: #3b3c68;
        background-color: rgb(61, 63, 132, 0.25);
    }

    &.active {
        background-color: var(--yellow-500);
        color: var(--dark-soft);
    }

    @media (width <= 768px) {
        font-size: var(--font-size-s);
        padding: 14px 11px;
    }
}
