.catalog {
    display: none;

    &.visible {
        display: grid;
        grid-template-columns: 400px 1fr;
        height: calc(100vh - 86px);
        overflow: auto;
        position: relative;

        @media (width <= 768px) {
            height: calc(100vh - 79px);
        }

        @media (width <= 700px) {
            grid-template-columns: 1fr;
            overflow: hidden;
        }

        @media (width <= 600px) {
            height: calc(100vh - 48px);
        }
    }
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: var(--dark-hover);
    overflow-y: scroll;
    transition: translate 0.2s ease;

    @media (width <= 700px) {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        overflow-y: scroll;
    }

    &.withChoosedCategory {
        translate: -100%;
    }
}

.menuTitle {
    text-transform: uppercase;
    color: var(--text-color-secondary);
    font-size: var(--font-size-m);
    line-height: var(--font-line-height-130);
    padding-block: 20px;
    padding-inline: 40px;
    border-bottom: 1px solid var(--dark-soft);
    width: 100%;
}

.menuList {
    list-style: none;
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.menuArrow {
    margin-inline-start: auto;
    color: var(--neutral-soft);

    & > svg {
        width: 24px;
        height: 24px;
        rotate: 270deg;
    }
}

.menuItem {
    & > button {
        width: 100%;
        display: inline-flex;
        align-items: center;
        padding-block: 20px;
        padding-inline: 40px 24px;
        column-gap: 12px;
        color: var(--text-color-secondary);
        font-size: var(--font-size-l);
        line-height: var(--font-line-height-140);
        transition:
            color 0.2s ease,
            background-image 0.2s ease;
        cursor: pointer;

        &:hover {
            color: var(--text-color);
            background-image: linear-gradient(
                215deg,
                #3b3c68 0%,
                transparent 100%
            );

            & .menuArrow > svg {
                color: var(--text-color);
                transition: color 0.2s ease;
            }
        }
    }

    & + & {
        border-top: 1px solid var(--dark-soft);
    }
}

.menuImage {
    display: none;
}

.menuIcon {
    display: inline-flex;
    flex-shrink: 0;
    line-height: var(--font-line-height-100);
    width: 24px;
    height: 24px;
    font-size: var(--font-size-ss);
}
