.payments {
    display: grid;
    grid-template-columns: repeat(4, 132px);
    gap: 16px;
    align-items: center;
    justify-content: center;

    @media (width <= 1420px) {
        grid-template-columns: repeat(3, 1fr);
        padding-inline-start: 0;
    }

    @media (width <= 1200px) {
        grid-template-columns: repeat(4, 132px);
    }

    @media (width <= 600px) {
        grid-template-columns: repeat(3, 1fr);
        padding-inline: 34px;
    }

    @media (width <= 420px) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    border-radius: 12px;
    background: linear-gradient(
            237.82deg,
            rgba(59, 60, 104, 0.3) -147.73%,
            rgba(59, 60, 104, 0) 180.56%
        ),
        linear-gradient(
            313.42deg,
            rgba(59, 47, 134, 0.05) 0%,
            rgba(0, 0, 0, 0) 100%
        );
    width: 130px;
    height: 70px;
    border-radius: 16px;
    cursor: pointer;

    &:hover {
        background: linear-gradient(
                237.82deg,
                rgba(59, 60, 104, 0.8) -147.73%,
                rgba(59, 60, 104, 0) 180.56%
            ),
            linear-gradient(
                313.42deg,
                rgba(59, 47, 134, 0.05) 0%,
                rgba(0, 0, 0, 0) 100%
            );
        border: 1px solid #6f709c;
    }

    &:active {
        background: linear-gradient(
                237.82deg,
                rgba(251, 191, 36, 0.3) -147.73%,
                rgba(251, 191, 36, 0) 180.56%
            ),
            linear-gradient(
                313.42deg,
                rgba(59, 47, 134, 0.05) 0%,
                rgba(0, 0, 0, 0) 100%
            );

        border: 1px solid var(--yellow-500);
    }
}
