.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal {
    background: linear-gradient(
            237.82deg,
            rgba(59, 60, 104, 0.6) -147.73%,
            rgba(59, 60, 104, 0) 180.56%
        ),
        #090916;
    border-radius: 20px;
    max-width: 473px;
    position: relative;

    @media (width <= 768px) {
        max-width: 385px;
    }
}

.closeButton {
    position: absolute;
    top: 24px;
    right: 28px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 12px;
    transition: opacity 0.2s;
    background: rgba(75, 75, 119, 0.3);
    border-radius: 8px;

    & > svg {
        width: 14px;
        fill: var(--text-color);
    }

    &:hover {
        opacity: 0.7;
    }
}

.modalContent {
    padding-inline: 12px;
    padding-block-start: 12px;
    padding-block-end: 24px;
}

.imgWrapper {
    @media (width <= 768px) {
        max-width: 361px;
    }
}

.formWrapper {
    padding-block-start: 24px;
    padding-inline-end: 16px;
    padding-inline-start: 20px;

    @media (width <= 768px) {
        padding-inline: 0px;
    }
}

.title {
    font-family: var(--font-barlow-bold-sans), sans-serif;
    font-size: var(--font-size-h2);
    line-height: 38px;
    color: var(--text-color);
    margin-bottom: 8px;

    @media (width <= 768px) {
        max-width: 360px;
        margin-bottom: 6px;
    }
}

.subtitle {
    font-family: var(--font-barlow-regular-sans), sans-serif;
    font-size: var(--font-size-m);
    color: #7f8da4;
    line-height: var(--font-line-height-130);
    margin-bottom: 32px;

    @media (width <= 768px) {
        margin-bottom: 20px;
    }
}

.inputWrapper {
    position: relative;
    margin-bottom: 24px;

    @media (width <= 768px) {
        margin-bottom: 20px;
    }
}

.input {
    width: 100%;
    padding: 12px 16px;
    background: #22223d;
    border: 1px solid rgba(68, 83, 113, 0.15);
    border-radius: 6px;
    color: var(--text-color);
    font-family: var(--font-barlow-regular-sans), sans-serif;
    font-size: var(--font-size-m);
    padding-right: 48px;
    outline: none;
    transition: border-color 0.2s ease;

    &::placeholder {
        color: var(--text-color-secondary);
    }

    &:focus {
        border-color: var(--yellow-500);
    }
}

.eyeButton {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    padding: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s;

    &:hover {
        opacity: 0.7;
    }
}

.criteriaList {
    margin-bottom: 32px;

    @media (width <= 768px) {
        margin-bottom: 20px;
    }
}

.criteriaTitle {
    font-family: var(--font-barlow-regular-sans), sans-serif;
    font-size: var(--font-size-m);
    color: var(--text-color);
    margin-bottom: 16px;

    @media (width <= 768px) {
        margin-bottom: 9px;
    }
}

.criteriaItem {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: var(--font-barlow-regular-sans), sans-serif;
    font-size: var(--font-size-s);
    color: var(--text-color-secondary);
    margin-bottom: 12px;

    @media (width <= 768px) {
        margin-bottom: 9px;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.submitButton {
    width: 100%;
    font-family: var(--font-barlow-bold-sans), sans-serif;
    font-size: var(--font-size-m);
    line-height: 24px;
    color: var(--dark-soft);
    background-color: var(--yellow-500);
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
        color: var(--background);
        background: var(--yellow-500-hover);
    }
}
