.container {
    display: flex;
    flex-direction: column;

    &::after {
        content: '';
        bottom: 0;
        left: 0;
        transform: translateX(-20px);
        height: 1px;
        background-color: #3d4066;
        width: calc(100% + 40px);
    }

    @media (width <= 768px) {
        &::after {
            transform: translateX(-15px);
            width: calc(100% + 30px);
        }
    }
}

.label {
    font-family: var(--font-barlow-regular-sans), sans-serif;
    font-size: var(--font-size-l);
    line-height: 28px;
    color: var(--text-color-secondary);
    padding-block: 20px;

    @media (width <= 768px) {
        padding-block-start: 0px;
        padding-block-end: 7px;
    }
}

.value {
    font-family: var(--font-barlow-bold-sans), sans-serif;
    font-size: 38px;
    line-height: 38px;
    padding-block-end: 20px;

    @media (width <= 400px) {
        font-size: 32px;
        line-height: 32px;
    }
}


.lastOrder {
    background: #27294c;
    border-radius: 8px;
    padding: 14px 12px;
    margin-bottom: 20px;
    font-size: var(--font-size-h3);
    line-height: 28px;
}
