.search {
    display: flex;
    flex-direction: column;
    padding-block-start: 16px;
}

.title {
    font-family: var(--font-barlow-bold-sans), serif;
    font-size: var(--font-size-h1);
    line-height: 1;
    padding-block-end: 88px;

    @media (width <= 768px) {
        font-size: var(--font-size-h2);
    }

    @media (width <= 600px) {
        font-size: var(--font-size-h3);
    }
}

.cards {
    --_card-width: 293px;
    max-width: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, var(--_card-width));
    gap: 33px 25px;
}

.button {
    font-family: var(--font-barlow-bold-sans), serif;
    color: var(--text-color);
    line-height: 24px;
    align-self: center;
    text-transform: uppercase;

    border: 2px solid var(--dark-muted);
    background: var(--neutral-container-light);
    border-radius: 12px;
    padding: 12px 133px;
    cursor: pointer;

    margin-block-start: 69px;

    max-width: 540px;
    width: 100%;

    @media (width <= 665px) {
        padding: 7px 39px;
    }

    &:hover {
        background: var(--neutral-container-hover);
    }

    &:active {
        background: var(--neutral-container-active);
    }
}
