.container {
    display: flex;
    align-items: center;
    gap: 24px;
}

.container .modal,
.container .contact {
    display: flex;
}

.containerCatalog {
    display: none;
}

.containerCatalog .modal,
.containerCatalog .contact {
    display: none;
}

.modal {
    color: var(--text-color);
    font-size: var(--font-size-l);
    line-height: 28px;
    white-space: nowrap;
    transition: var(--btn-transition);
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
}

.contact {
    align-items: center;
    gap: 8px;
    padding: 7px 44px;
    background: transparent;
    border: 1px solid #9f9fb7;
    border-radius: 12px;
    color: var(--text-color);
    transition: background-color 0.2s;

    @media (width <= 480px) {

    }
}

@media (width <= 1600px) {
    .container .contact {
        display: none;
    }

    .containerCatalog {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 30px 40px;
        gap: 24px;
        background-color: var(--dark-hover);
    }

    .containerCatalog .contact {
        display: flex;
        padding-inline: 24px;
    }
}

@media (width <= 1330px) {
    .container .modal {
        display: none;
    }

    .containerCatalog .modal {
        display: flex;
        padding: 7px 44px;
        background: #353659;
        border: 1px solid #3b3c68;
        border-radius: 12px;
    }
}

.contact .dot {
    width: 4px;
    height: 8px;
    border-radius: 9999px;
    background: var(--green-500);
    border: 1px solid var(--neutral-soft);
    transform: translateY(25%);
    animation: greendot 1s linear infinite alternate;
}

.contact .label {
    font-size: var(--font-size-l);
    line-height: 28px;
    white-space: nowrap;
}

@media (hover: hover) {
    .modal:hover {
        color: var(--text-color-hover);
    }

    .contact:hover {
        background-color: #24274d;
    }
}

.loginButton {
    display: none;
}

@media (width <= 480px) {
    .container .loginButton {
        display: none;
    }

    .containerCatalog .loginButton {
        display: flex;
    }
}

@keyframes greendot {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
