.container {
    display: flex;
    align-items: center;
    gap: 24px;
}

.containerCatalog {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    padding-block: 30px;
    padding-inline: 40px;
    width: 100%;
    background-color: #0e1029;
    border-bottom: 1px solid var(--dark-soft);
}

.modal {
    color: var(--text-color);
    font-size: var(--font-size-l);
    line-height: 28px;
    white-space: nowrap;
    transition: var(--btn-transition);
    cursor: pointer;

    @media (width <= 1280px) {
        display: none;
    }

    &:hover {
        color: #737bf3;
    }
}

.modalCatalog {
    padding: 7px 44px;
    background: #353659;
    border: 1px solid #3b3c68;
    border-radius: 12px;
}

.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    color: var(--text-color);
    border: 1px solid var(--text-color-secondary);
    padding-block-start: 5px;
    padding-block-end: 7px;
    padding-inline: 20px;
    border-radius: 12px;

    & > .dot {
        width: 4px;
        height: 8px;
        border-radius: 9999px;
        background: var(--green-500);
        border: 1px solid var(--neutral-soft);
        transform: translateY(25%);
        animation: greendot 1s linear infinite alternate;
    }

    & > .label {
        font-size: var(--font-size-l);
        line-height: 28px;
        white-space: nowrap;
    }

    &:hover {
        background-color: #24274d;
        transition: background-color 0.2s;
    }

    @media (width <= 1600px) {
        display: none;
    }
}

.showInCatalog {
    display: flex;
}

@keyframes greendot {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
