.wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    max-width: 100%;

    @media (width <= 768px) {
        justify-content: space-around;
    }

    .left {
        display: flex;
        align-items: center;
        column-gap: 11px;

        @media (width <= 1375px) {
            display: none;
        }

        .item {
            display: flex;
            align-items: flex-end;
            flex-shrink: 0;
            column-gap: 8px;
            background: #202032;
            border-radius: 8px;
            padding-block: 8px 12px;
            padding-inline: 25px 24px;

            .switch {
                position: relative;
                display: inline-block;
                width: 30px;
                height: 16px;
                margin-block: 2px;

                input:checked + .slider {
                    background-color: var(--yellow-500);
                }

                input:checked + .slider:before {
                    transform: translateX(14px);
                }

                input:disabled + .slider {
                    cursor: wait;
                    opacity: 0.5;
                    filter: grayscale(1);
                }

                .checkbox {
                    opacity: 0;
                    visibility: hidden;
                    width: 0;
                    height: 0;
                }

                .slider {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: #27294c;
                    transition: 0.3s;
                    border-radius: 16px;

                    &:before {
                        position: absolute;
                        content: '';
                        height: 12px;
                        width: 12px;
                        left: 2px;
                        bottom: 2px;
                        background-color: white;
                        transition: 0.3s;
                        border-radius: 50%;
                    }
                }
            }

            .content {
                display: flex;
                align-items: center;
                gap: 8px;

                .text {
                    font-family: var(--font-barlow-regular-sans), sans-serif;
                    font-size: var(--font-size-s);
                    line-height: var(--font-line-height-130);
                }
            }
        }
    }

    .right {
        display: flex;
        gap: 11px;

        @media (width <= 680px) {
            width: 100%;
        }

        .controls {
            display: flex;
            gap: 11px;

            @media (width <= 1375px) {
                display: none;
            }
        }
    }
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    flex-shrink: 0;
    font-family: var(--font-barlow-regular-sans), sans-serif;
    font-size: var(--font-size-s);
    line-height: var(--font-line-height-130);
    color: var(--text-color);
    padding: 11px 24px;
    background: #202032;
    border-radius: 8px;
    cursor: pointer;

    & > svg {
        width: 18px;
        height: 18px;
        fill: var(--yellow-500);
    }

    @media (width <= 1440px) {
        padding-inline: 15px;
    }
}

.mobileControls {
    display: none;

    @media (width <= 1375px) {
        display: flex;
        flex-direction: column;
        gap: 13px;
        padding-block-start: 39px;
        padding-inline-end: 30px;
    }

    @media (width <= 768px) {
        flex-direction: row;
        padding-block-start: 0;
        padding-inline-end: 0;
        margin-inline: 18px;
    }

    @media (width <= 680px) {
        width: 100%;
        flex-direction: column;
        padding-block-start: 15px;
    }

    @media (width <= 620px) {
        flex-direction: row;
    }

    @media (width <= 440px) {
        padding-block-end: 21px;
    }

    .mobileButton {
        @media (width <= 1375px) {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            background: rgba(255, 255, 255, 0.03);
            border-radius: 8px;
            padding: 11px 24px;
            color: var(--text-color);
            cursor: pointer;
            width: 100%;
        }

        & > svg {
            fill: transparent;
        }

        .mobileButton:hover {
            background: rgba(255, 255, 255, 0.06);
        }

        @media (width <= 680px) {
            flex-grow: 1;
        }
    }
}
