{
    "printWidth": 80,
    "tabWidth": 4,
    "trailingComma": "all",
    "singleQuote": true,
    "jsxBracketSameLine": true,
    "semi": true,
    "importOrder": [
        "^@/core-components/(.*)$",
        "^@/components/(.*)$",
        "^@/images/(.*)$",
        "^@/api/(.*)$",
        "^@/(.*)$",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "importOrderParserPlugins": [
        "classProperties",
        "jsx",
        "typescript",
        "decorators-legacy"
    ],
    "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
