.wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    z-index: 5;
}

.label {
    font-family: var(--font-barlow-bold-sans), sans-serif;
    font-size: var(--font-size-m);
    line-height: var(--font-line-height-150);
    cursor: pointer;
    padding-inline: 16px 44px;
    padding-block: 12px;
    background-color: #171930;
    border: 2px solid rgb(75, 75, 119, 0.2);
    min-height: 48px;
    border-radius: 6px;
    width: 100%;
    text-align: start;
    position: relative;
    transition: outline 0.2s ease, border-color 0.2s ease;

    & > svg {
        position: absolute;
        top: 50%;
        right: 12px;
        translate: 0 -50%;
        rotate: 180deg;
        transition: rotate 0.2s ease;
    }

    &.open {
        border-color: var(--yellow-500);
        outline: rgb(251, 191, 36, 0.1) 4px solid;

        & > svg {
            rotate: 0deg;
        }
    }
}

.list {
    position: absolute;

    left: 0;
    top: 100%;
    width: 100%;
    list-style: none;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 6px;
    background-color: #171930;
    padding-block: 8px;

    .item {
        width: 100%;
        padding-block: 8px;
        padding-inline: 24px 12px;
        text-align: start;
        cursor: pointer;

        &:hover {
            background-color: rgb(251, 191, 36, 0.2);
        }

        &.selected {
            background-color: var(--yellow-500);
        }
    }
}
