.skeleton {
    composes: shimmer from '../../core-css/utility-classes/shimmer.module.css';
}

.wrapper {
    max-width: 50%;
    width: 100%;
    border-radius: 20px;
    background-image: linear-gradient(
        0deg,
        #171728 0%,
        var(--custom-start-color) 50%,
        var(--custom-end-color) 300%
    );
    padding: 4px;
}

.container {
    padding-inline: 46px 100px;
    padding-block: 25px 45px;
    height: 100%;
    border-radius: 16px;
    position: relative;
    background-color: #171728;

    &::before {
        content: '';
        position: absolute;
        width: 121px;
        height: 121px;
        left: 110px;
        top: 180px;
        background: linear-gradient(
            90deg,
            var(--custom-start-color) 0%,
            var(--custom-end-color) 98%
        );
        opacity: 0.3;
        filter: blur(32px);
        border-radius: 50%;
        z-index: 0;
    }

    &::after {
        content: '';
        position: absolute;
        width: 159px;
        height: 159px;
        right: 100px;
        bottom: 100px;
        background: linear-gradient(
            90deg,
            var(--start-gradient) 0%,
            var(--end-gradient) 98%
        );
        opacity: 0.3;
        filter: blur(32px);
        border-radius: 50%;
        z-index: 0;
    }

    @media (width <= 1550px) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-inline-start: 25px;
        padding-block-start: 25px;
    }

    @media (width <= 1200px) {
        &::before {
            width: 90px;
            height: 90px;
            left: 60px;
            top: 150px;
        }

        &::after {
            width: 120px;
            height: 120px;
            right: 60px;
            bottom: 80px;
        }
    }
}

.header {
    display: flex;
    justify-content: space-between;
}

.summary {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-inline-end: 10%;

    @media (width <= 1550px) {
        flex-direction: column;
    }

    @media (width <= 650px) {
        flex-direction: row;
    }

    @media (width <= 480px) {
        flex-direction: column;
    }
}

.headerContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.title {
    font-family: var(--font-barlow-regular-sans), sans-serif;
    font-size: var(--font-size-l);
    color: var(--text-color);
    line-height: var(--font-line-height-140);

    @media (width <= 1200px) {
        font-size: var(--font-size-ss);
        line-height: 21px;
    }
}

.balance {
    font-family: var(--font-barlow-regular-sans), sans-serif;
    color: var(--text-color);
    display: flex;
    align-items: baseline;
    column-gap: 4px;
    position: relative;
    line-height: var(--font-line-height-100);

    & > svg {
        width: 24px;
        height: 24px;

        @media (width <= 1200px) {
            width: 18px;
            height: 18px;
        }
    }

    &.negative svg {
        rotate: 180deg;
    }
}

.currency {
    font-size: 50px;
    color: var(--text-color);

    @media (width <= 1550px) {
        font-size: 30px;
    }
}

.integer {
    font-size: 70px;

    @media (width <= 1550px) {
        font-size: 40px;
    }
}

.currencySymbolLastOrder,
.integerNumberLastOrder {
    font-size: 40px;

    @media (width <= 1550px) {
        font-size: var(--font-size-l);
    }

    @media (width <= 650px) {
        font-size: 40px;
    }

    @media (width <= 480px) {
        font-size: var(--font-size-l);
    }
}

.decimal {
    font-size: 40px;
    color: var(--text-color-secondary);

    @media (width <= 1550px) {
        font-size: var(--font-size-l);
        line-height: 62px;
    }
}

.decimalNumberLastOrder {
    @media (width <= 1550px) {
        font-size: var(--font-size-l);
        line-height: 62px;
    }
}

.buttonsReportsContainer {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding-block-start: 8px;
    padding-inline-end: 16px;

    @media (width <= 1550px) {
        flex-direction: row;
    }
}

.buttonReport {
    border-radius: 8px;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.buttonDownload {
    background: var(--yellow-500);

    &:hover {
        background-color: var(--yellow-500-hover);
    }
}

.buttonHistory {
    background: #343453;

    &:hover {
        background-color: rgba(31, 41, 55, 0.8);
    }

    &:hover > svg {
        fill: rgba(31, 41, 55, 0.8);
    }
}

.chart {
    position: relative;
    z-index: 5;
    max-width: 520px;
    cursor: pointer;

    @media (width <= 1600px) {
        max-width: 420px;
    }

    @media (width <= 1200px) {
        margin-bottom: 40px;
    }

    @media (width <= 768px) {
        margin-bottom: 25px;
    }
    @media (width <= 620px) {
        max-width: 100%;
    }

    .dates {
        font-family: var(--font-barlow-regular-sans), sans-serif;
        font-size: var(--font-size-ss);
        line-height: var(--font-line-height-130);
        display: flex;
        justify-content: space-around;
    }
}
