.inviteSection {
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 21px;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #3d4066;
        transform: translateX(-20px);
        width: calc(100% + 40px);
    }

    @media (width <= 768px) {
        &::after {
            transform: translateX(-15px);
            width: calc(100% + 30px);
        }
    }
}

.inviteTitle {
    font-family: var(--font-barlow-bold-sans), sans-serif;
    font-size: var(--font-size-h3);
    line-height: var(--font-line-height-130);
    margin-bottom: 14px;

    @media (width <= 768px) {
        font-size: var(--font-size-l);
    }
}

.invitePrice {
    color: var(--yellow-500);
}

.inviteForm {
    display: flex;
    gap: 6px;

    @media (width <= 768px) {
        flex-direction: column;
    }
}

.inviteInput {
    background: #22223d;
    color: var(--text-color);
    border: 1px solid rgba(68, 83, 113, 0.15);
    border-radius: 6px;
    padding: 11px 16px;
    width: 100%;
    outline: none;
    transition: border-color 0.2s ease;

    &::placeholder {
        color: var(--text-color-secondary);
        font-family: var(--font-barlow-regular-sans), sans-serif;
        font-size: var(--font-size-m);
        line-height: var(--font-line-height-130);
    }

    &:focus {
        border-color: var(--yellow-500);
        color: var(--text-color);
    }
}

.inviteButton {
    font-family: var(--font-barlow-bold-sans), sans-serif;
    font-size: var(--font-size-l);
    line-height: 24px;
    color: var(--dark-soft);
    background-color: var(--yellow-500);
    border-radius: 8px;
    padding: 11px 35px;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
        color: var(--background);
        background: #dfaa22;
    }
}
