.container {
    padding-block-start: 86px;
    position: relative;
}

.wrapper {
    @media (width >= 1024px) {
        --_sidebar-width: 280px;
        display: grid;
        grid-template-columns: var(--_sidebar-width) 1fr;
    }
}

@media (width <= 1023px) {
    .wrapper {
        display: block;
    }
}

.content {
    display: flex;
    flex-direction: column;
}

.other {
    grid-column: 2;
}

@media (max-width: 1280px) {
    .other {
        min-width: 0;
        grid-column: 1;
    }
}

.shimmer {
    composes: shimmer from '../../core-css/utility-classes/shimmer.module.css';
}
