.notificationTitle {
    font-family: var(--font-barlow-bold-sans), sans-serif;
    font-size: var(--font-size-m);
    line-height: 24px;
    margin-block-end: 20px;

    @media (width <= 768px) {
        display: none;
    }
}

.notificationControls {
    display: flex;
    gap: 10px;
    width: 100%;
    margin-block-end: 10px;

    @media (width <= 768px) {
        flex-direction: column;
    }
}

.notificationRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #343453;
    border-radius: 8px;
    padding: 11px 15px;
    width: 100%;
}

.notificationItem {
    display: flex;
    align-items: center;
    gap: 8px;
}

.notificationText {
    font-family: var(--font-barlow-regular-sans), sans-serif;
    font-size: var(--font-size-s);
    line-height: var(--font-line-height-130);
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #27294c;
    transition: 0.3s;
    border-radius: 20px;

    &:before {
        position: absolute;
        content: '';
        height: 16px;
        width: 16px;
        left: 2px;
        bottom: 2px;
        background-color: white;
        transition: 0.3s;
        border-radius: 50%;
    }
}

input:checked + .slider {
    background-color: var(--yellow-500);
}

input:checked + .slider:before {
    transform: translateX(20px);
}

.telegramButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-family: var(--font-barlow-regular-sans), sans-serif;
    font-size: var(--font-size-s);
    line-height: var(--font-line-height-130);
    color: var(--text-color);
    width: 100%;
    padding: 0.75rem;
    background: #2ea5d8;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 17px;

    &:hover {
        background-color: #1e8dc2;
    }
}

.telegramInstructions {
    font-family: var(--font-barlow-regular-sans), sans-serif;
    font-size: var(--font-size-m);
    line-height: var(--font-line-height-130);
    color: #7f8da4;
}

.telegramInstructions ol {
    margin: 0;
    padding-left: 20px;
    padding-bottom: 20px;
}

.telegramInstructions ol li {
    padding-bottom: 10px;
}

.textStyle {
    color: var(--yellow-500);
}