.modal {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  position: absolute;
  background: linear-gradient(
          237.82deg,
          rgba(59, 60, 104, 0.6) -147.73%,
          rgba(59, 60, 104, 0) 180.56%
      ),
      #090916;
  padding: 20px;
  width: 100%;
  max-height: 90vh;

  @media (min-width: 769px) {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 800px;
      border-radius: 20px;
  }

  @media (width <= 768px) {
      border-radius: 20px;
      margin-inline: 10px;
      max-width: 350px;
  }
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 30px;
  padding: 0 40px;
}

.modalTitle {
  font-family: var(--font-barlow-bold-sans), sans-serif;
  font-size: 38px;
  line-height: 38px;
  margin: 0;
}

.closeButton {
  background: rgba(75, 75, 119, 0.3);
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;

  &:hover {
      background-color: rgba(75, 75, 119, 0.5);
  }
}

.closeIcon {
  width: 10px;
  height: 10px;
}

@media (min-width: 769px) {
  .mobileWithdraws {
      display: none;
  }
} 

@media (max-width: 768px) {
  .desktopWithdraws {
      display: none;
  }
}

.withdrawsTable {
  padding: 0 40px;
  /* 2 */
}

.tableHeader {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1.2fr 1fr;
  gap: 20px;
  padding: 15px 20px;
}

.tableHeaderCell {
  font-family: var(--font-barlow-regular-sans), sans-serif;
  font-size: var(--font-size-m);
  line-height: var(--font-line-height-130);
  margin: 0;
}

.tableBody {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.tableRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1.2fr 1fr;
  gap: 20px;
  padding: 15px 20px;

  &:nth-child(odd) {
      background: #212140;
      border-radius: 6px;
  }
}

.tableCell {
  font-family: var(--font-barlow-regular-sans), sans-serif;
  font-size: var(--font-size-m);
  line-height: 24px;
  margin: 0;
}

.mobileWithdrawsList {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.mobileWithdrawItem {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  &:nth-child(odd) {
      background: #212140;
      border-radius: 6px;
  }

  @media (width <= 768px) {
      gap: 6px;
  }
}

.mobileWithdrawRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobileWithdrawLabel {
  font-family: var(--font-barlow-regular-sans), sans-serif;
  font-size: var(--font-size-m);
  line-height: var(--font-line-height-130);
  color: var(--text-color-secondary);
  margin: 0;
}

.mobileWithdrawValue {
  font-family: var(--font-barlow-regular-sans), sans-serif;
  font-size: var(--font-size-m);
  line-height: 24px;
  text-align: right;
  margin: 0;
}

@media (max-width: 768px) {
  .modalHeader {
      padding: 0 20px;
      margin: 10px 0 20px;
  }

  .modalTitle {
      font-size: var(--font-size-h3);
      line-height: var(--font-line-height-130);
  }

  .closeButton {
      top: 15px;
      right: 15px;
  }
}