.card {
    max-width: 340px;
    width: 100%;
    padding-inline: 2px;
    padding-block: 2px;
    border-radius: 14px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    &.delivered {
        background-image: linear-gradient(0deg, #17182b 0%, #18e905 300%);
    }

    &.cancelled {
        background-image: linear-gradient(0deg, #17182b 0%, #e40052 300%);
    }

    &.in-progress {
        background-image: linear-gradient(0deg, #17182b 0%, #2f56f0 300%);
    }

    &.looking {
        background-image: linear-gradient(0deg, #17182b 0%, #fbbf24 300%);
    }

    &.refunded {
        background-image: linear-gradient(0deg, #17182b 0%, #b830c5 300%);
    }

    @media (width <= 500px) {
        max-width: 100%;
    }

    .content {
        max-width: 100%;
        width: 100%;
        height: 100%;
        padding-inline: 10px;
        padding-block: 10px 15px;
        border-radius: 12px;
        background: #17182b;
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;

        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 192px;
            height: 180px;
            opacity: 0.2;
            filter: blur(40px);
            border-radius: 50%;
            z-index: -1;
        }

        &::before {
            left: calc(50% - 192px / 2 + 100px);
            top: calc(50% - 180px / 2 - 173px);
        }

        &::after {
            right: calc(50% - 192px / 2 + 100px);
            bottom: calc(50% - 180px / 2 - 173px);
        }

        .delivered & {
            &::before,
            &::after {
                background-color: #24fb46;
            }
        }
        .cancelled & {
            &::before,
            &::after {
                background-color: #e40052;
            }
        }

        .in-progress & {
            &::before,
            &::after {
                background-color: #2f56f0;
            }
        }

        .looking & {
            &::before,
            &::after {
                background-color: #fbbf24;
            }
        }

        .refunded & {
            &::before,
            &::after {
                background-color: #b830c5;
            }
        }
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block-end: 26px;

    .status {
        border-radius: 8px;
        padding: 1px;

        .label {
            font-family: var(--font-barlow-medium-sans), sans-serif;
            font-size: var(--font-size-s);
            line-height: var(--font-line-height-130);
            color: var(--text-color);
            border-radius: 7px;
            padding-block: 4.5px 5.5px;
            padding-inline: 15px;
        }

        &.statusBgDelivered {
            background-image: linear-gradient(
                90deg,
                #6fd875 -15%,
                #1c7a20 40%,
                rgba(23, 101, 26, 0) 100%
            );

            .label {
                background-image: linear-gradient(
                    90deg,
                    #33fd3b -15%,
                    #1c7a20 40%,
                    rgba(23, 101, 26, 0.25) 100%
                );
            }
        }

        &.statusBgCancelled {
            background-image: linear-gradient(
                90deg,
                #ee797f -15%,
                #e40052 40%,
                rgba(69, 13, 13, 0.25) 100%
            );

            .label {
                background-image: linear-gradient(
                    90deg,
                    #f35937 -15%,
                    #e40052 40%,
                    rgba(69, 13, 13, 0.25) 100%
                );
            }
        }

        &.statusBgInProgress {
            background-image: linear-gradient(
                90deg,
                #74b6e2 -15%,
                #2e71c8 40%,
                rgba(17, 50, 92, 0.25) 100%
            );

            .label {
                background-image: linear-gradient(
                    90deg,
                    #37d1f3 -15%,
                    #2e71c8 40%,
                    rgba(17, 50, 92, 0.25) 100%
                );
            }
        }

        &.statusBgLooking {
            background-image: linear-gradient(
                90deg,
                #f6da71 -15%,
                #fbbf24 20%,
                rgba(82, 92, 17, 0.25) 100%
            );

            .label {
                background-image: linear-gradient(
                    90deg,
                    #f3eb37 -15%,
                    #fbbf24 20%,
                    rgba(82, 92, 17, 0.25) 100%
                );
            }
        }

        &.statusBgRefunded {
            background-image: linear-gradient(
                90deg,
                #c36cdc -15%,
                #9626a9 20%,
                rgba(52, 11, 62, 0.631373) 100%
            );

            .label {
                background-image: linear-gradient(
                    90deg,
                    #bf22f6 -15%,
                    #9626a9 20%,
                    rgba(52, 11, 62, 0.631373) 100%
                );
            }
        }
    }

    .id {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 4px;
        cursor: pointer;
        background-image: linear-gradient(
            90deg,
            rgba(255, 255, 255, 0.3) 0%,
            transparent 100%
        );
        background-size: 110%;
        background-position: -1px;
        border: 1px solid rgb(255, 255, 255, 0.3);
        border-radius: 8px;
        padding-block: 6px;
        padding-inline: 12px;
        font-family: var(--font-barlow-regular-sans), sans-serif;
        font-size: var(--font-size-ss);
        line-height: var(--font-line-height-130);
        color: var(--text-color);
        transition: scale 0.2s ease;

        &:active {
            scale: 0.95;
        }
    }
}

.icon {
    align-self: center;
    padding-block-end: 10px;
}

.price {
    font-family: var(--font-barlow-bold-sans), sans-serif;
    font-size: var(--font-size-h4);
    line-height: var(--font-line-height-130);
    padding-block-end: 8px;

    .decimal {
        color: rgba(255, 255, 255, 0.6);
    }
}

.title {
    font-family: var(--font-barlow-bold-sans), sans-serif;
    font-size: var(--font-size-l);
    line-height: var(--font-line-height-130);
    padding-block-end: 16px;
}

.details {
    font-size: var(--font-size-s);
    line-height: var(--font-line-height-130);
    display: flex;
    flex-direction: column;
    gap: 4px;
    opacity: 0.8;
    padding-block-end: 12px;

    .detailRow {
        display: flex;
        justify-content: space-between;

        .valueDetails {
            font-family: var(--font-barlow-bold-sans), sans-serif;
        }
    }

    .additionalInfo {
        margin-top: 12px;
    }
}

.actions {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    padding-block-start: 8px;
    margin-top: auto;

    & > :nth-child(1) {
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto;
    }

    & > :nth-child(2) {
        flex-grow: 1.3;
        flex-shrink: 1;
        flex-basis: 0;
    }
    & > :nth-child(3) {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0;
    }

    .actionButton {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        border-radius: 8px;
        cursor: pointer;
        font-family: var(--font-montserrat-bold-sans), sans-serif;
        color: var(--text-color);
        padding: 13px 16px;
        background: var(--neutral-container-active);
        border: 1px solid #2e3a4b;
        border-radius: 8px;

        &:hover {
            background-color: var(--neutral-container-hover);
        }
    }

    .actionFuttonDefault > svg {
        width: 23px;
        height: 24px;
        background: transparent;
    }

    .actionFuttonDone {
        background: #041124;
        border: none;
        color: #a9b1bb;
        cursor: default;
        pointer-events: none;
    }
}
