.modalButtons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modalButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-family: var(--font-barlow-regular-sans), sans-serif;
    font-size: var(--font-size-s);
    line-height: var(--font-line-height-130);
    color: var(--text-color);
    padding: 11px 24px;
    background: #343453;
    border-radius: 8px;
    cursor: pointer;

    @media (width <= 1440px) {
        padding-inline: 15px;
    }
}
