.wrapper {
    max-width: 1300px;
    width: 100%;
    /* margin: 0 auto; */
    margin-inline: calc((100% - 1316px) / 2);
    display: grid;
    grid-template-columns: minmax(500px, 596px) 1fr;
    column-gap: 60px;
    border-radius: 18px;
    padding-block: 66px;
    padding-inline: 114px;
    align-items: flex-start;
    background: linear-gradient(
        227.48deg,
        rgba(255, 255, 255, 0.27) -70.46%,
        rgba(153, 153, 153, 0) 144.84%
    );

    @media (width <= 1490px) {
        column-gap: 20px;
        padding-inline: 70px;
        margin: 0 auto;
    }

    @media (width <= 1150px) {
        max-width: calc(100% - 248px);
        width: 100%;
        padding-block: 68px 82px;
        padding-inline: 116px;
        grid-template-columns: 1fr;
        row-gap: 60px;
    }

    @media (width <= 1024px) {
        max-width: calc(100% - 72px);
        padding-inline: 77px;
    }

    @media (width <= 650px) {
        max-width: calc(100% - 24px);
        margin-block-end: 48px;
        padding-block: 32px;
        padding-inline: 12px;
    }
}

.image {
    width: 100%;
    height: 375px;

    & > img {
        object-fit: contain;
    }

    @media (width <= 1150px) {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media (width <= 650px) {
        display: none;
    }
}

.accordeon {
    display: flex;
    flex-direction: column;
    gap: 18px;

    @media (width <= 1150px) {
        order: -1;
    }
}

.item {
    display: flex;
    padding-block: 20px 24px;
    padding-inline: 24px;
    border: 1.55px solid var(--neutral-container-active);
    background: linear-gradient(
        237.82deg,
        rgba(59, 60, 104, 0.45) -147.73%,
        rgba(59, 60, 104, 0) 180.56%
    );
    border-radius: 18px;
    cursor: pointer;
    color: var(--text-color);
    text-align: left;
    column-gap: 16px;

    .icon {
        flex-shrink: 0;
    }

    .content {
        display: flex;
        flex-direction: column;
        row-gap: 6px;
    }

    .title {
        font-family: var(--font-barlow-bold-sans), serif;
        font-size: var(--font-size-h4);
        line-height: var(--font-line-height-130);
        color: var(--text-color-secondary);
    }

    .text {
        font-size: var(--font-size-l);
        line-height: var(--font-line-height-140);
        opacity: 0.8;
        display: none;

        &.active {
            @media (width > 650px) {
                display: inline;
            }
        }

        @media (width <= 650px) {
            display: inline;
            font-size: var(--font-size-m);
            line-height: var(--font-line-height-130);
        }
    }

    &.active {
        @media (width > 650px) {
            border: 2px solid var(--text-color-secondary);
            background: linear-gradient(
                237.82deg,
                rgba(131, 133, 180, 0.71) -147.73%,
                rgba(131, 133, 180, 0) 180.56%
            );

            .title,
            .icon > svg path {
                color: var(--text-color);
                fill: var(--text-color);
            }
        }
    }

    @media (width <= 650px) {
        border: 2px solid var(--text-color-secondary);
        background: linear-gradient(
            237.82deg,
            rgba(131, 133, 180, 0.71) -147.73%,
            rgba(131, 133, 180, 0) 180.56%
        );

        .title,
        .icon > svg path {
            color: var(--text-color);
            fill: var(--text-color);
        }
    }
}
