.wrapper {
    max-width: 1316px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 596px 1fr;
    gap: 60px;
    border-radius: 18px;
    padding-block: 66px;
    padding-inline: 114px;
    align-items: flex-start;
    background: linear-gradient(
        227.48deg,
        rgba(255, 255, 255, 0.27) -70.46%,
        rgba(153, 153, 153, 0) 144.84%
    );

    @media (width <= 1024px) {
        max-width: calc(100% - 248px);
        width: 100%;
        margin: 0 auto 20px;
        padding-block: 68px 82px;
        padding-inline: 116px;
        grid-template-columns: 1fr;
    }

    @media (width <= 1024px) {
        max-width: calc(100% - 72px);
        padding-inline: 77px;
    }

    @media (width <= 600px) {
        max-width: calc(100% - 24px);
        margin-block-end: 48px;
        padding-block: 32px;
        padding-inline: 12px;
    }
}

.image {
    width: 100%;
    height: 375px;
    display: flex;
    align-items: center;
    justify-content: center;

    & > img {
        object-fit: contain;
        object-position: 50% 50%;
    }

    @media (width <= 600px) {
        display: none;
    }
}

.accordeon {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 18px;

    @media (width <= 1024px) {
        order: -1;
    }
}

.item {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-block: 20px;
    padding-inline: 24px;
    border: 1.55px solid var(--dark-muted);
    background: linear-gradient(
        237.82deg,
        rgba(59, 60, 104, 0.45),
        rgba(59, 60, 104, 0)
    );
    border-radius: 18px;
    cursor: pointer;
    color: var(--text-color);
    text-align: left;
    gap: 16px;

    &.active {
        border: 2px solid var(--text-color-secondary);
        background: linear-gradient(
            237.82deg,
            rgba(131, 133, 180, 0.71),
            rgba(131, 133, 180, 0)
        );
    }

    @media (width <= 600px) {
        pointer-events: none;
        border: 2px solid var(--text-color-secondary);
        background: linear-gradient(
            237.82deg,
            rgba(131, 133, 180, 0.71),
            rgba(131, 133, 180, 0)
        );

        .title {
            color: var(--text-color);
        }
    }

    &.active .title {
        color: var(--text-color);
    }
}

.icon {
    flex-shrink: 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

.title {
    font-size: 24px;
    line-height: 31.2px;
    color: var(--text-color-secondary);
    font-family: var(--font-barlow-bold-sans), serif;
}

.text {
    font-size: var(--font-size-l);
    line-height: 28px;
    display: none;

    &.active {
        display: inline;
    }

    @media (width <= 600px) {
        display: inline;
    }
}
