.wrapper {
    position: relative;
    margin-block-start: 160px;
    padding-block-end: 126px;
    border-block: 2px solid var(--dark-muted);
    background: radial-gradient(
        54.64% 76.11% at 50% 50%,
        rgba(20, 21, 48, 0) 0%,
        #12132b 100%
    );

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 15%;
        height: 100%;
        z-index: 5;
        background: linear-gradient(
            270deg,
            rgba(20, 21, 48, 0) 0%,
            #12132b 100%
        );
    }

    &::before {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 15%;
        height: 100%;
        z-index: 5;
        background: linear-gradient(
            90deg,
            rgba(20, 21, 48, 0) 0%,
            #12132b 100%
        );
    }

    @media (width <= 1024px) {
        margin-block-end: 20px;
    }

    @media (width <= 600px) {
        margin-block-start: 120px;
        padding-block-end: 40px;
    }
}

.heading {
    display: flex;
    justify-content: center;
    column-gap: 26px;
    padding-block: 66px 72px;

    @media (width <= 600px) {
        flex-wrap: wrap;
        padding-block: 45px 50px;
    }
}

.title {
    display: flex;
    align-items: center;
    gap: 6px;

    & > p {
        font-family: var(--font-barlow-bold-sans), serif;
        font-size: var(--font-size-h2);
        line-height: 38px;
    }

    & > svg {
        width: 42px;
        height: 42px;
    }

    @media (width <= 600px) {
        column-gap: 6px;
    }
}

.reviews {
    & > p {
        font-size: var(--font-size-l);
        line-height: 28px;
    }

    & > p + p {
        font-size: var(--font-size-l);
        line-height: 30px;
        color: var(--text-color-secondary);
    }
}

.carousel {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    gap: 28px;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    scroll-behavior: smooth;
    padding-block-end: 40px;
}

.item {
    width: 454px;
    flex-shrink: 0;
    scroll-snap-align: start;
    background: rgba(40, 40, 69, 0.75);
    padding-block: 20px 28px;
    padding-inline: 28px;
    border-radius: 12px;
}

.stars {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 6px;
}

.rating {
    display: flex;
    justify-content: space-between;
    padding-block-end: 16px;
    border-bottom: 1px solid #a2a6c4;

    & > p {
        color: var(--text-color-secondary);
    }
}

.review {
    padding-block-start: 16px;
    line-height: var(--font-line-height-130);
}

.title {
    font-family: var(--font-barlow-bold-sans), serif;
    font-size: var(--font-size-l);
    padding-block-end: 8px;
}

.description {
    color: var(--text-color-secondary);
}

.loading {
    text-align: center;
    margin: 0 auto;
    font-size: var(--font-size-hero);
    color: var(--text-color-secondary);
}
