.categoty-layout {
    display: grid;
    grid-template-columns: 1fr 365px;
    column-gap: 128px;
    padding-inline-start: 28px;
    max-width: 1440px;
    width: 100%;
    align-items: start;
}

.filters {
    border-radius: 12px;
    background-color: var(--dark-hover);
    padding-block-start: 263px;
    padding-inline: 24px 16px;
    background-image: linear-gradient(transparent 0%, var(--dark-hover) 35%),
        url('/images/card.png');
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    row-gap: 28px;

    position: sticky;
    top: 20px;
}

.item {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.label {
    text-transform: uppercase;
    font-family: var(--font-barlow-extra-bold-sans), serif;
    font-size: var(--font-size-m);
    line-height: var(--font-line-height-130);

    &.withLine {
        position: relative;
        max-width: 100%;
        width: 100%;
        display: inline-flex;
        column-gap: 6px;

        & > span:first-child {
            flex-shrink: 0;
        }

        & > span:last-child {
            width: 100%;
            height: 1px;
            background-color: #fff;
            align-self: center;
        }
    }
}

.region {
    display: flex;
    column-gap: 5px;
}

.languageBtn > input {
    display: none;
}

.languageBtn > label {
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    font-family: var(--font-barlow-semi-bold-sans), serif;
    font-size: var(--font-size-m);
    line-height: var(--font-line-height-150);
    min-width: 50px;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid rgb(105, 108, 152, 0.5);
    background-color: var(--dark-soft);
    transition: var(--btn-transition);

    &:hover {
        border-color: var(--yellow-500);
    }
}

.languageBtn > input:checked + label {
    border-color: var(--yellow-500);
    color: #000;
    background-color: var(--yellow-500);
}

.inputs {
    width: 100%;
    position: relative;

    &.singles {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 26px;
    }

    &.doubles {
        display: grid;
        grid-template-columns: 1fr 1ch 1fr;
        column-gap: 12px;
        align-items: center;
        text-align: center;
        margin-block-end: 10px;
    }
}

.checkboxes {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.rank-selects {
    display: grid;
    grid-template-columns: 1fr 1ch 1fr;
    column-gap: 12px;
    align-items: center;
    text-align: center;
    margin-block-end: 10px;
}

.dificulty-select {
}

.price {
    text-transform: uppercase;
    font-family: var(--font-barlow-extra-bold-sans), serif;
    font-size: 32px;
    line-height: 1;
}

.submition {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;

    & > button {
        cursor: pointer;
        padding-block: 10px;
        text-transform: uppercase;
        font-size: var(--font-size-m);
        line-height: var(--font-line-height-150);
        border-radius: 8px;
        font-family: var(--font-barlow-extra-bold-sans), serif;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        column-gap: 6px;

        &.submit {
            background-color: var(--yellow-500);
            color: var(--dark-soft);
        }

        &.chat {
            background-color: #1e1f39;
            color: var(--text-color);
            padding-inline-end: 10px;
        }
    }
}
