.category {
    padding-block-start: 16px;

    container-type: inline-size;
    container-name: game;
}

.title {
    font-size: 60px;
    line-height: 1;
    font-family: var(--font-barlow-bold-sans), serif;

    @media (width <= 768px) {
        font-size: 38px;
    }

    @media (width <= 600px) {
        font-size: 32px;
    }
}
