.imageContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding-block: 15px 95px;
    padding-inline-start: 301px;

    @media (width <= 1600px) {
        padding-inline-start: 150px;
    }

    @media (width <= 1400px) {
        flex-direction: column;
        gap: 32px;
        align-items: flex-start;
        padding-inline-start: 76px;
        padding-block: 30px 64px;
    }

    @media (width <= 1022px) {
        align-items: center;
        padding-inline-start: 0;
    }

    @media (width <= 440px) {
        padding-block: 0;
        justify-content: center;
    }

    &::before {
        content: '';
        position: absolute;
        height: 975px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: translateY(0);
        background-image: url('/images/BG.webp');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: -1;
    }
}

.agencyImg {
    @media (width <= 1400px) {
        width: 590px;
        height: 590px;
    }

    @media (width <= 600px) {
        width: 353px;
        height: 353px;
        object-fit: cover;
    }
}

.title {
    font-family: var(--font-barlow-extra-bold-sans);
    font-size: var(--font-size-h1);
    line-height: 60px;

    @media (width <= 1400px) {
        padding-inline-start: 140px;
    }

    @media (width <= 1022px) {
        margin: 0 auto;
        padding: 0;
    }

    @media (width <= 440px) {
        text-align: center;
        font-size: var(--font-size-h2);
        line-height: 38px;
    }
}

.titleSpan {
    font-family: var(--font-barlow-bold-sans), sans-serif;
    color: var(--yellow-500);
    text-transform: uppercase;
    font-size: var( --font-size-hero);
    line-height: 96px;

    @media (width <= 440px) {
        font-size: var(--font-size-h1);
        line-height: 75px;
    }
}

.texts {
    display: flex;
    flex-direction: column;
    gap: 28px;
    font-family: var(--font-barlow-regular-sans), serif;
    font-size: var(--font-size-m);
    line-height: 24px;
    color: #a2a6c4;
    padding-block-end: 109px;
    padding-inline: 192px 210px;

    @media (width <= 1400px) {
        padding-inline: 63px;
    }

    @media (width <= 1024px) {
        padding-inline: 56px 74px;
    }

    @media (width <= 440px) {
        padding-block: 70px 100px;
        padding-inline: 20px;
    }
}

.text {
    line-height: var(--font-line-height-130);
    white-space: pre-line;
}

.sectionTitle {
    font-family: var(--font-barlow-extra-bold-sans);
    padding-block-end: 5px;

    @media (width <= 1024px) {
        font-family: var(--font-barlow-bold-sans);
    }
}

.list {
    padding-inline-start: 15px;
    list-style-position: outside;
}

.list li {
    margin-inline-start: 7px;
}

.listStyleTypeNone {
    list-style-type: none;
    transform: translateX(-14px);
}

.textSecondary {
    padding-block-start: 28px;
}
