.catalogBtn {
    display: flex;
    padding-block: 6px;
    padding-inline: 16px;
    gap: 16px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    cursor: pointer;
    background: var(--yellow-500);
    border: 1px solid var(--yellow-500);

    & > span {
        font-size: var(--font-size-l);
        line-height: 28px;
    }

    @media (width <= 1024px) {
        display: none;
    }
}

.burgerIcon {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 5px;

    & > span {
        width: 16px;
        height: 1px;
        background-color: var(--dark-active);
        transition: rotate 0.3s ease, translate 0.3s ease;

        &:nth-child(2) {
            width: 8px;
        }
    }

    &.active {
        & > span {
            &:nth-child(1) {
                rotate: 45deg;
                translate: 0 6px;
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:nth-child(3) {
                rotate: -45deg;
                translate: 0 -6px;
            }
        }
    }
}
