.main {
    padding-block-start: 55px;
    padding-inline: 70px 30px;
    position: relative;
    z-index: 1;

    @media (width <= 1530px) {
        padding-inline-start: 22px;
    }

    @media (width <= 1200px) {
        padding-block-start: 0px;
    }

    @media (width <= 768px) {
        display: grid;
        gap: 24px;
        padding-inline-start: 22px;
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
            'profile balance'
            'cards cards';
    }

    @media (width <= 700px) {
        gap: 12px;
    }

    @media (width <= 620px) {
        padding-inline: 12px;
        gap: 12px;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            'profile'
            'balance'
            'cards';
    }
}

.wrapper {
    background-image: linear-gradient(
        90deg,
        #18182a 0%,
        rgb(144, 1, 173, 0.5) 100%
    );
    width: 100%;
    min-width: 0;
    /* TODO max-width */
    max-width: 100%;
    max-width: 1424px;
    padding: 3px;
    border-radius: 20px;

    .profile {
        display: flex;
        justify-content: space-between;
        position: relative;
        border-radius: 17px;
        background-image: linear-gradient(
            45deg,
            #161627 0%,
            #161627 85%,
            rgb(22, 22, 39, 0.5) 100%
        );

        @media (width <= 1375px) {
            display: grid;
            grid-template-columns: 1fr auto auto;
            grid-template-rows: auto auto auto;
            grid-template-areas:
                'profileBlock buttonsMobileBlock'
                'progressBar buttonsMobileBlock'
                'invite invite';
        }

        @media (width <= 768px) {
            grid-area: profile;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-template-areas:
                'profileBlock'
                'buttonsMobileBlock'
                'invite';
        }

        .userWrapper {
            padding-block: 15px;
            padding-inline: 18px;
            max-width: 400px;

            @media (width <= 1471px) {
                padding-block-end: 54px;
            }

            @media (width <= 1375px) {
                max-width: none;
                grid-area: profileBlock;
                padding-block-end: 0;
            }

            .user {
                display: flex;
                align-items: center;
                justify-content: space-between;

                @media (width <= 768px) {
                    align-items: flex-start;
                }
            }
        }
    }
}

.image {
    display: none;

    @media (width <= 1375px) {
        display: block;
    }
}

.progressBar {
    display: none;

    @media (width <= 1375px) {
        display: block;
    }
}

.invite {
    flex-basis: 392px;

    @media (width <= 1375px) {
        grid-area: invite;
        padding-inline-start: 18px;
        padding-block-end: 29px;
    }

    @media (width <= 768px) {
        padding-block-end: 0;
    }
}

.buttonsBlockMobile {
    display: none;

    @media (width <= 1375px) {
        display: block;
        grid-area: buttonsMobileBlock;
    }

    @media (width <= 680px) {
        display: flex;
        flex-direction: column;
    }
}

.buttonsBlockDesktop {
    display: block;
    padding-block: 24px 32px;

    @media (width <= 1375px) {
        display: none;
    }
}

.containerBalance {
    display: flex;
    gap: 24px;
    margin-block-end: 37px;

    @media (width <= 1375px) {
        padding-block-start: 20px;
    }

    @media (width <= 1200px) {
        gap: 17px;
    }

    @media (width <= 768px) {
        padding-block-start: 0;
        margin-block-end: 0;
        gap: 12px;
        flex-direction: column;
        grid-area: balance;
    }
}

.cards {
    grid-area: cards;
}
