.hero {
    max-width: 100%;
    width: 100%;
    height: 650px;
    position: relative;

    @media (width <= 768px) {
        margin-block-end: 12px;
    }
}

.contentWrapper {
    max-width: 1920px;
    width: 100%;
    height: 100%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-inline: 170px;
    gap: 56px;

    @media (width <= 1024px) {
        padding-inline: 44px 206px;
        padding-block: 113px;
        justify-content: flex-end;
    }

    @media (width <= 768px) {
        padding-inline: 36px;
        gap: 24px;
        padding-block-end: 121px;
    }
}

.heroImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 65% 50%;
    z-index: -1;
}

.heading {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.heroTitle {
    font-size: 72px;
    line-height: 1;
    text-transform: uppercase;
    font-family: var(--font-barlow-bold-sans), sans-serif;

    & > span {
        color: var(--yellow-500);
    }

    @media (width <= 768px) {
        font-size: 60px;
        padding-inline-end: 200px;
    }
}

.heroDescription {
    font-size: 30px;
    line-height: 1.2;
}

.advantages {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    @media (width <= 1024px) {
        gap: 32px 24px;
    }

    @media (width <= 768px) {
        gap: 24px;
    }
}

.advantagesItem {
    display: flex;
    align-items: center;
    gap: 20px;

    @media (width <= 1024px) {
        /* Could be removed if order of items will be controlled from CMS */
        &:nth-child(2) {
            order: 1;
        }
    }
}

.advantagesIcon {
    width: 54px;
    height: 54px;
    border-radius: 9999px;
    border: 1px solid var(--dark-muted);
    display: flex;
    align-items: center;
    justify-content: center;
}

.advantagesContent {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.advantagesTitle {
    font-family: var(--font-barlow-bold-sans), sans-serif;
    font-size: 32px;
    line-height: 1;
}

.advantagesSubTitle {
    font-size: var(--font-size-l);
    line-height: 1.4;
    color: var(--text-color-secondary);
    display: flex;
    align-items: center;
    gap: 4px;
}
