.hero {
    max-width: 100%;
    width: 100%;
    height: 650px;
    position: relative;

    @media (width <= 850px) {
        height: unset;
    }

    @media (width <= 768px) and (width > 600px) {
        margin-block-end: 12px;
    }

    @media (width <= 600px) {
        --_mobile-hero-additional-padding: 240px;
        padding-block-start: var(--_mobile-hero-additional-padding);
    }
}

.contentWrapper {
    max-width: 1920px;
    width: 100%;
    height: 100%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-inline: 170px;
    gap: 56px;

    @media (width <= 1024px) {
        padding-inline: 44px 206px;
        padding-block: 113px;
        justify-content: flex-end;
    }

    @media (width <= 768px) {
        padding-inline: 36px;
        gap: 24px;
        padding-block-end: 121px;
    }

    @media (width <= 600px) {
        padding-block-end: 34px;
        justify-content: flex-end;
    }
}

.heroImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 65% 50%;
    z-index: -1;

    @media (width <= 600px) {
        object-position: 75% 50%;
        height: calc(100% - var(--_mobile-hero-additional-padding));
    }
}

.heading {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 12px;

    @media (width <= 600px) {
        row-gap: 4px;
    }
}

.heroTitle {
    font-size: 72px;
    line-height: 1;
    text-transform: uppercase;
    font-family: var(--font-barlow-bold-sans), serif;

    & > span {
        color: var(--yellow-500);
    }

    @media (width <= 768px) and (width > 600px) {
        font-size: var(--font-size-h1);
        padding-inline-end: 200px;
    }

    @media (width <= 600px) {
        font-size: var(--font-size-h3);
    }
}

.heroDescription {
    font-size: 30px;
    line-height: 1.2;

    @media (width <= 600px) {
        font-size: var(--font-size-l);
        line-height: var(--font-line-height-140);
    }
}

.advantages {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    @media (width <= 1024px) {
        gap: 32px 24px;
    }

    @media (width <= 768px) and (width > 600px) {
        gap: 24px;
    }

    @media (width <= 600px) {
        gap: 22px;
    }
}

.advantagesItem {
    display: flex;
    align-items: center;
    gap: 20px;

    @media (width <= 1024px) and (width > 600px) {
        /* Could be removed if order of items will be controlled from CMS */
        &:nth-child(2) {
            order: 1;
        }
    }

    @media (width <= 600px) {
        gap: 15px;
    }
}

.advantagesIcon {
    width: 54px;
    height: 54px;
    border-radius: 9999px;
    border: 1px solid var(--dark-muted);
    display: flex;
    align-items: center;
    justify-content: center;

    @media (width <= 600px) {
        width: 41px;
        height: 41px;

        & > img {
            width: 20px;
            height: 20px;
        }
    }
}

.advantagesContent {
    display: flex;
    flex-direction: column;
    gap: 2px;

    @media (width <= 600px) {
        gap: 0;
    }
}

.advantagesTitle {
    font-family: var(--font-barlow-bold-sans), serif;
    font-size: var(--font-size-h3);
    line-height: 1;

    @media (width <= 600px) {
        font-size: var(--font-size-sm);
        line-height: 26px;
    }
}

.advantagesSubTitle {
    font-size: var(--font-size-l);
    line-height: var(--font-line-height-140);
    color: var(--text-color-secondary);
    display: flex;
    align-items: center;
    gap: 4px;

    @media (width <= 600px) {
        font-size: var(--font-size-s);
        line-height: 20px;
    }
}
