.container {
    overflow-x: hidden;
}

.imageContainer {
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    margin: -24px -24px 0;
    padding: 53px 24px 0 308px;
    overflow: hidden;

    @media (width <= 1400px) {
        flex-direction: column;
        gap: 21px;
        align-items: flex-start;
        padding-left: 94px;
    }

    @media (width <= 1022px) {
        align-items: center;
        padding-left: 0;
        margin-left: 0;
    }

    @media (width <= 372px) {
        padding: 53px 0 0;
        justify-content: center;
        width: 100%;
    }
}

.imageContainer::before {
    content: '';
    position: absolute;
    top: 0;
    left: -24px;
    right: -24px;
    bottom: -250px;
    background-image: url('/images/pp/BG.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.agencyImg {
    width: 610px;
    height: 605px;

    @media (width <= 1400px) {
        width: 577px;
        height: 572px;
    }

    @media (width <= 372px) {
        width: 437px;
        height: 434px;
        object-fit: cover;
    }
}

.title {
    font-family: var(--font-barlow-extra-bold-sans);
    font-size: 60px;
    line-height: 60px;

    @media (width <= 1400px) {
        padding-left: 140px;
    }

    @media (width <= 1022px) {
        padding: 0;
        margin-left: -170px;
    }

    @media (width <= 1022px) {
        margin: 0 auto;
    }
}

.titleSpan {
    color: var(--yellow-500);
    text-transform: uppercase;
    font-size: 96px;
    line-height: 96px;
}

.texts {
    display: flex;
    flex-direction: column;
    gap: 28px;
    font-family: var(--font-barlow-regular-sans), serif;
    font-size: var(--font-size-m);
    line-height: var(--font-line-height-130);
    color: #a2a6c4;
    padding: 46px 210px 46px 192px;

    @media (width <= 1400px) {
        padding-inline: 63px;
    }

    @media (width <= 375px) {
        padding-top: 150px;
        padding-bottom: 100px;
    }
}

.sectionTitle {
    font-family: var(--font-barlow-extra-bold-sans);
    font-size: var(--font-size-m);
}
