.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background: linear-gradient(
            237.82deg,
            rgba(59, 60, 104, 0.45) -147.73%,
            rgba(59, 60, 104, 0) 180.56%
        ),
        #20203b;
    border-radius: 20px;
    padding-inline: 12px;
    padding-block: 12px 36px;
    width: 100%;
    max-width: 475px;
    position: relative;

    @media (width <= 768px) {
        max-width: 375px;
    }
}

.closeButton {
    position: absolute;
    top: 29px;
    right: 33px;
    padding: 16px;
    cursor: pointer;
    background: var(--neutral-container-active);
    border-radius: 8px;

    & > svg {
        width: 14px;
        fill: var(--text-color);
    }

    &:hover {
        background: var(--neutral-container-hover);
    }

    &:active {
        background: var(--neutral-container-soft);
    }

    @media (width <= 768px) {
        top: 24px;
        right: 22px;
        padding: 10px;
    }
}

.imageContainer {
        @media (width <= 768px) {
        width: 350px;
        height: 172px;
    }
}

.title {
    font-family: var(--font-barlow-bold-sans), sans-serif;
    font-size: var(--font-size-h2);
    line-height: 38px;
    padding-block: 24px 16px;
    padding-inline: 20px;

    @media (width <= 768px) {
        padding-inline: 0px;
    }
}

.description {
    font-family: var(--font-barlow-regular-sans), sans-serif;
    font-size: var(--font-size-m);
    line-height: var(--font-line-height-130);
    color: #7f8da4;
    padding-block-end: 24px;
    padding-inline: 20px;

    @media (width <= 768px) {
        padding-inline: 0px;
    }
}

.form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 0 20px;

    @media (width <= 768px) {
        margin: 0px;
    }
}

.input {
    background: #22223d;
    border: 1px solid rgba(68, 83, 113, 0.15);
    border-radius: 6px;
    padding: 13px 12px;
    color: var(--text-color);
    width: 100%;
    outline: none;
    transition: border-color 0.2s ease;

    &::placeholder {
        color: var(--text-color-secondary);
        font-family: var(--font-barlow-regular-sans), sans-serif;
        font-size: var(--font-size-m);
        line-height: var(--font-line-height-130);
    }

    &:focus {
        border-color: var(--yellow-500-hover);
        color: var(--text-color);
    }
}

.submitButton {
    font-family: var(--font-barlow-bold-sans), sans-serif;
    font-size: var(--font-size-m);
    line-height: var(--font-line-height-130);
    color: var(--dark-soft);
    background: var(--yellow-500);
    border-radius: 8px;
    width: 100%;
    padding-block: 11px;
    cursor: pointer;

    &:hover {
        color: var(--background);
        background: var(--yellow-500-hover);
    }
}
