.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.container {
    background: #262645;
    border-radius: 20px;
    padding-inline: 12px;
    padding-block: 12px 36px;
    width: 100%;
    max-width: 475px;
    position: relative;

    @media (width <= 768px) {
        max-width: 375px;
    }
}

.closeButton {
    position: absolute;
    top: 29px;
    right: 33px;
    padding: 16px;
    cursor: pointer;
    background: var(--neutral-container-active);
    border-radius: 8px;

    & > svg {
        width: 14px;
        fill: var(--text-color);
    }

    &:hover {
        background: var(--neutral-container-hover);
    }

    &:active {
        background: var(--neutral-container-soft);
    }

    @media (width <= 768px) {
        top: 24px;
        right: 22px;
        padding: 10px;
    }
}

.imageContainer {
    @media (width <= 768px) {
        width: 350px;
        height: 172px;
    }
}

.title {
    font-family: var(--font-barlow-bold-sans), sans-serif;
    font-size: var(--font-size-h2);
    line-height: var(--font-line-height-100);
    padding-block: 24px 16px;
    padding-inline: 20px;

    @media (width <= 768px) {
        padding-inline: 0px;
    }
}

.form {
    display: flex;
    flex-direction: column;
    padding-inline: 20px;
    row-gap: 24px;

    @media (width <= 768px) {
        margin: 0px;
    }

    .label {
        color: #7f8da4;
        font-family: var(--font-barlow-regular-sans), sans-serif;
        font-size: var(--font-size-m);
        line-height: var(--font-line-height-130);
        position: relative;

        @media (width <= 768px) {
            padding-inline: 0px;
        }

        .error {
            font-family: var(--font-barlow-regular-sans), sans-serif;
            font-size: var(--font-size-ss);
            color: var(--red-500);
            position: absolute;
            bottom: 0;
            translate: 0 100%;
        }
    }

    .input {
        background: var(--neutral-container-light);
        border: 2px solid rgba(68, 83, 113, 0.15);
        border-radius: 6px;
        padding: 12px;
        color: var(--text-color);
        width: 100%;
        outline: none;
        transition: border-color 0.2s ease;
        font-size: var(--font-size-m);
        line-height: var(--font-line-height-130);
        font-family: var(--font-barlow-regular-sans), sans-serif;

        &::placeholder {
            color: var(--text-color-secondary);
        }

        &:focus {
            border-color: var(--yellow-500-hover);
            color: var(--text-color);
        }

        &:disabled {
            filter: opacity(50%);
            cursor: wait;
        }

        &.error {
            border-color: var(--red-500);
        }
    }
}

.submitButton {
    font-family: var(--font-barlow-bold-sans), sans-serif;
    font-size: var(--font-size-m);
    line-height: var(--font-line-height-130);
    color: var(--dark-soft);
    background: var(--yellow-500);
    border-radius: 8px;
    width: 100%;
    margin-block-start: 8px;
    padding-block: 11px;
    cursor: pointer;

    &:hover {
        color: var(--background);
        background: var(--yellow-500-hover);
    }
}
