.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    border-radius: 20px;
    padding-block: 77px 87px;
    margin-block-start: 20px;
    margin-inline: 46px;
    background: linear-gradient(
        237.82deg,
        rgba(59, 60, 104, 0.45) -147.73%,
        rgba(59, 60, 104, 0) 180.56%
    );

    @media (width <= 1024px) {
        margin-inline: 0;
        
        gap: 33px;
    }

    @media (width <= 768px) {
        margin-block-start: 0;
        padding-block: 87px;
    }

    @media (width <= 400px) {
        margin-inline: 12px;
    }
}

.text {
    font-family: var(--font-barlow-bold-sans), sans-serif;
    font-size: var(--font-size-h3);
    line-height: var(--font-line-height-130);
    text-align: center;
}