.title {
    font-family: var(--font-barlow-bold-sans), sans-serif;
    font-size: var(--font-size-h2);
    line-height: 38px;
    padding-block-end: 30px;

    @media (width <= 1024px) {
        padding-block-end: 20px;
    }

    @media (width <= 768px) {
        padding-block-start: 24px;
    }

    @media (width <= 480px) {
        font-size: var(--font-size-h4);
        padding-block: 18px 14px;
    }
}

.emptyState {
    padding-block: 30px 220px;
    display: flex;
    flex-direction: column;
    gap: 19px;

    @media (width <= 1024px) {
        padding-block: 0 127px;
        gap: 10px;
    }

    @media (width <= 768px) {
        padding-block: 26px 116px;
    }

    @media (width <= 480px) {
        padding-block: 18px 171px;
    }
}

.emptyStateText {
    font-family: var(--font-barlow-bold-sans), sans-serif;
    font-size: var(--font-size-h2);
    line-height: 38px;

    @media (width <= 1024px) {
        font-size: var(--font-size-h4);
        line-height: 130%;
    }
}

.emptyStateTextDescription {
    font-family: var(--font-barlow-regular-sans), sans-serif;
    font-size: var(--font-size-l);
    line-height: 28px;
    color: var(--text-color-secondary);

    @media (width <= 1024px) {
        font-size: var(--font-size-l);
        line-height: 28px;
    }
}

.boosterOrderFilter {
    padding-block-end: 28px;
}

.boosterOrderCards {
    max-width: 100%;
    width: 100%;
    display: grid;
    align-items: stretch;
    justify-content: start;
    grid-template-columns: repeat(4, minmax(280px, 340px));
    grid-auto-rows: minmax(auto, max-content);
    gap: 32px 20px;

    @media (width <= 1600px) {
        grid-template-columns: repeat(4, minmax(260px, 1fr));
    }

    @media (width <= 1470px) {
        grid-template-columns: repeat(3, minmax(260px, 1fr));
    }

    @media (width <= 1170px) {
        grid-template-columns: repeat(2, minmax(260px, 1fr));
        gap: 10px;
    }

    @media (width <= 1024px) {
        grid-template-columns: repeat(3, minmax(260px, 1fr));
    }

    @media (width <= 840px) {
        grid-template-columns: repeat(2, minmax(260px, 1fr));
    }

    @media (width <= 500px) {
        grid-template-columns: repeat(1, minmax(260px, 1fr));
        justify-content: center;
    }
}

.showMore {
    font-family: var(--font-barlow-bold-sans), sans-serif;
    font-size: var(--font-size-m);
    color: var(--text-color);
    background: var(--neutral-container-light);
    border: 2px solid var(--dark-muted);
    padding: 12px 32px;
    border-radius: 12px;
    cursor: pointer;
    width: 100%;
    max-width: 540px;
    margin: 42px auto 150px;
    transition: background-color 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background: rgba(31, 41, 55, 0.5);
    }
}
