.overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 20px;

    @media (width <= 480px) {
        padding: 10px;
    }
}

.container {
    display: flex;
    border-radius: 16px;
    background-color: #17172d;
    width: 100%;
    max-width: 1165px;
    margin: 0 auto;

    /* @media (width <= 900px) {
        max-width: 500px;
    }

    @media (width <= 768px) {
        flex-direction: column;
        max-height: 90vh;
        overflow-y: auto;
    }

    @media (width <= 480px) {
        max-width: 100%;
    } */
}

.imageContainer {
    position: relative;
    max-width: 589px;
    width: 100%;
    height: 825px;

    @media (width <= 900px) {
        display: none;
    }

    & > img {
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
    }
}

.imageOverlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-block-end: 61px;
    padding-inline: 40px 69px;
    background: linear-gradient(
        180deg,
        rgba(9, 9, 22, 0) 0%,
        rgba(9, 9, 22, 0.8) 100%
    );
    border-bottom-left-radius: 12px;
    display: inline-flex;
    flex-direction: column;
    row-gap: 15px;

    .imageTitle {
        font-family: var(--font-barlow-extra-bold-sans), serif;
        font-size: var(--font-size-h1);
        line-height: 1;
        text-transform: uppercase;
    }

    .imgSubTitle {
        font-family: var(--font-barlow-bold-sans), serif;
        font-size: var(--font-size-h4);
        line-height: var(--font-line-height-130);
    }
}

.formSection {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    @media (width <= 900px) {
        width: 100%;
        padding: 24px 0;
    }

    @media (width <= 480px) {
        padding: 16px 0;
    }
}

.tabs {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    width: 100%;

    @media (max-width: 480px) {
        gap: 16px;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 50%;
        height: 2px;
        background-color: var(--yellow-500);
        opacity: 1;
        transition: left 0.2s ease;
    }

    &:has(.tab ~ .tab.active) {
        &::after {
            left: 50%;
        }
    }

    .tab {
        font-family: var(--font-barlow-bold-sans), sans-serif;
        font-size: var(--font-size-l);
        line-height: var(--font-line-height-130);
        padding-block: 20px 16px;
        padding-inline: 16px;
        color: var(--text-color-secondary);
        cursor: pointer;
        position: relative;
        width: 50%;
        padding-bottom: 16px;
        transition: color 0.3s ease;

        &.active {
            color: var(--text-color);
        }
    }
}

.formContainer {
    padding-inline: 88px;
    padding-block: 40px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    @media (width <= 990px) {
        padding-inline: 32px;
        padding-block-start: 28px;
    }

    @media (width <= 900px) {
        padding-inline: 24px;
        padding-block-start: 24px;
    }

    @media (width <= 480px) {
        padding-inline: 16px;
        padding-block-start: 16px;
    }
}

.title {
    font-family: var(--font-barlow-bold-sans), serif;
    font-size: var(--font-size-h2);
    line-height: 1;

    @media (width <= 768px) {
        font-size: var(--font-size-h4);
    }

    @media (width <= 768px) {
        font-size: var(--font-size-l);
        margin-bottom: 24px;
    }
}

.form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-block: auto;

    @media (width <= 768px) {
        gap: 16px;
    }

    @media (width <= 768px) {
        gap: 12px;
    }
}

.formGroup {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    .label {
        font-family: var(--font-barlow-bold-sans), sans-serif;
        font-size: var(--font-size-l);
        color: var(--text-color);
        line-height: var(--font-line-height-130);
        position: relative;

        .required {
            color: var(--yellow-500);
        }

        .error {
            font-family: var(--font-barlow-regular-sans), sans-serif;
            font-size: var(--font-size-ss);
            color: var(--red-500);
            position: absolute;
            bottom: 0;
            translate: 0 100%;
        }
    }
}

.selectWrapper {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 40%;
        right: 20px;
        width: 10px;
        height: 10px;
        background: url('@/images/system-icons/arrow-Ñhevron.svg') no-repeat center;
        pointer-events: none;
    }
}

.input,
.select,
.textarea {
    background: rgba(75, 75, 119, 0.1);
    border: 2px solid rgba(68, 83, 113, 0.15);
    border-radius: 6px;
    padding: 12px;
    width: 100%;
    outline: none;
    transition: border-color 0.2s ease;
    font-family: var(--font-barlow-regular-sans), sans-serif;
    font-size: var(--font-size-m);
    line-height: var(--font-line-height-125);
    color: var(--text-color);

    &::placeholder {
        color: var(--text-color-secondary);
    }

    &:focus {
        border-color: var(--yellow-500);
    }

    &:disabled {
        filter: opacity(50%);
        cursor: wait;
    }

    &.error {
        border-color: var(--red-500);
    }

    @media (max-width: 480px) {
        padding: 10px;
    }
}

.select {
    appearance: none;
    background-repeat: no-repeat;
    background-position: right 12px center;
    padding-right: 32px;
}

.textarea {
    resize: none;
}

.submitWrapper {
    display: flex;
    flex-direction: column;
    row-gap: 12px;

    .submitButton {
        font-family: var(--font-barlow-bold-sans), sans-serif;
        font-size: var(--font-size-m);
        line-height: var(--font-line-height-150);
        color: var(--background);
        background-color: var(--yellow-500);
        border-radius: 8px;
        padding: 10px;
        cursor: pointer;
        transition: background-color 0.2s;

        &:hover {
            color: var(--background);
            background-color: var(--yellow-500-hover);
        }

        @media (width <= 900px) {
            margin-block-start: 40px;
        }

        &.pending {
            filter: grayscale(1);
            cursor: wait;
        }
    }

    .textLink {
        font-family: var(--font-barlow-regular-sans), sans-serif;
        font-size: var(--font-size-s);
        line-height: var(--font-line-height-125);
        text-align: center;
    }

    .link {
        color: var(--yellow-500);
        text-decoration: none;
        cursor: pointer;
    }
}
