.avatarContainer {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    max-width: 400px;

    @media (width <= 768px) {
        gap: 13px;
    }
}

.avatarImg {
    border-radius: 10px;
    object-fit: cover;

    @media (width <= 1471px) {
        width: 115px;
        height: 115px;
    }

    @media (width <= 1375px) {
        width: 70px;
        height: 70px;
    }
}

.profileInfo {
    display: flex;
    align-items: center;
    gap: 55px;
    padding-block-start: 12px;

    @media (width <= 1575px) {
        padding-block-start: 6px;
    }
}

.idContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: var(--font-line-height-130);
    gap: 4px;

    @media (width <= 1373px) {
        gap: 7px;
    }
}

.wrapper {
    @media (width <= 1375px) {
        display: flex;
        gap: 13px;       
    }
}

.idUser {
    font-family: var(--font-barlow-bold-sans), sans-serif;
    font-size: var(--font-size-h4);

    @media (width <= 1375px) {
        font-size: var(--font-size-l);
    }

    @media (width <= 400px) {
        font-size: var(--font-size-l);
    }
}

.progressContainer {
    display: none;

    @media (width <= 1375px) {
        display: block;
    }

    @media (width <= 768px) {
        display: none;
    }
}

.emailUser {
    font-family: var(--font-barlow-regular-sans), sans-serif;
    font-size: var(--font-size-s);
    word-break: break-all;

    @media (width <= 1570px) {
        max-width: 160px;
    }

    @media (width <= 1375px) {
        font-size: var(--font-size-s);
        max-width: none;
    }
}
