.wrapper {
    max-width: 1300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 60px;
    margin: 0 auto;

    @media (width <= 1280px) {
        max-width: 100%;
        padding-inline: 45px;
        row-gap: 64px;
    }

    @media (width <= 768px) {
        padding-inline: 40px;
    }
}

.tabControlsWrapper {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    @media (width <= 600px) {
        gap: 20px 24px;
    }
}

.tabControl {
    font-size: var(--font-size-m);
    font-family: var(--font-barlow-bold-sans), serif;
    line-height: 24px;
    color: var(--text-color-secondary);
    border: 1px solid var(--dark-muted);
    background-color: transparent;
    padding: 14px 36px;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        color: var(--text-color);
    }

    &.active {
        color: var(--text-color);
        background-color: rgba(75, 75, 119, 0.3);
    }
}

.tabsWrapper {
    max-width: 100%;
    width: 100%;
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(4, 293px);
    align-items: center;
    justify-content: center;

    @media (width <= 1280px) {
        grid-template-columns: repeat(3, 293px);
        gap: 25px;
    }

    @media (width <= 1024px) {
        grid-template-columns: repeat(2, 293px);
    }

    @media (width <= 680px) {
        grid-template-columns: repeat(1, 293px);
    }
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    width: 100%;
    min-height: 420px;
    gap: 12px;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    position: relative;

    & > .image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }

    & > .frame {
        position: absolute;
        bottom: 8px;
        left: 8px;
        max-width: calc(100% - 16px);
        width: 100%;
    }

    &:hover .button {
        scale: 1.1;
    }
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 100%;
    padding-block: 0 16px;
    padding-inline: 16px 24px;
    gap: 16px;
    min-height: 160px;
}

.label {
    text-transform: uppercase;
    font-family: var(--font-barlow-bold-sans), serif;
    font-size: 26px;
    line-height: 1.3;
}

.price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.priceTitle {
    text-transform: uppercase;
    font-size: var(--font-size-m);
    line-height: 20.8px;
    color: var(--text-color-secondary);
}

.priceAmount {
    font-family: var(--font-barlow-medium-sans), serif;
    font-size: 32px;
    line-height: 32px;
}

.button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 62px;
    padding: 16px;
    border-radius: 16px;
    background: var(--yellow-500);
    outline: none;
    border: none;
    bottom: 8px;
    right: 8px;
    cursor: pointer;
    transition: scale 0.3s ease;
}
