.container {
    background-color: rgb(31, 31, 46);
    border-radius: 20px;
    padding: 24px 30px;
    max-width: 570px;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -70%;
    z-index: 5;

    @media (width <= 1730px) {
        max-width: 400px;
        padding: 18px 24px;
    }

    @media (width <= 1375px) {
        display: none;
    }
}

.headerContainer {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-bottom: 25px;
}

.imgLevel {
    width: 88px;
    height: 72px;
    background-size: cover;
}

.headerTitle {
    font-family: var(--font-barlow-bold-sans), sans-serif;
    font-size: var(--font-size-m);
    line-height: 24px;
}

.headerProgress {
    font-family: var(--font-barlow-regular-sans), sans-serif;
    font-size: var(--font-size-s);
    line-height: var(--font-line-height-130);
    color: var(--text-color);
    opacity: 0.6;
}

.titleContainer {
    display: flex;
    gap: 12px;
}
