.regionSelector {
    margin-top: 40px;
    position: relative;
    z-index: 10;

    @media (width <= 768px) {
        flex-direction: column;
        align-items: stretch;
    }
}

.regionSelectorTitle {
    font-family: var(--font-barlow-bold-sans), serif;
    font-size: var(--font-size-h4);
    line-height: var(--font-line-height-130);
    padding-block-end: 15px;

    @media (width <= 550px) {
        font-size: var(--font-size-l);
    }
}

.regionSelectorContent {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    max-width: 680px;

    @media (width <= 570px) {
        display: grid;
        grid-template-columns: max-content max-content;
        grid-template-rows: auto auto;
        gap: 10px;

        & > :last-child {
            grid-column: 1 / -1;
            width: 100%;
        }
    }

    @media (width <= 530px) {
        grid-template-columns: 1fr 1fr;
    }
}

.regionButtons,
.factionButtons {
    background: var(--neutral-container-hover);
    border: 1px solid rgba(68, 83, 113, 0.15);
    border-radius: 8px;

    @media (width <= 440px) {
        display: flex;
        justify-content: center;
    }
}

.regionBtn,
.factionBtn {
    font-family: var(--font-barlow-semi-bold-sans), sans-serif;
    font-size: var(--font-size-m);
    line-height: 24px;
    color: var(--text-color);
    padding: 6px 16px;
    margin: 6px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    &.active {
        background-color: var(--yellow-500);
        color: var(--background);
    }

    @media (width <= 768px) {
        font-size: var(--font-size-s);
        padding: 8px 16px;
    }
}

.serverSelect {
    flex: 1;
}

.titleStyle {
    font-family: var(--font-barlow-regular-sans), sans-serif;
    color: var(--text-color-secondary);
    background: var(--neutral-container-hover);
    border: 1px solid rgba(68, 83, 113, 0.15);
    border-radius: 8px;
}

.optionsStyle {
    background: var(--neutral-container-hover);
}
