.wrapper {
    background: var(--dark-hover);
    border-top: 1px solid #1c1f42;
}

.footer {
    max-width: 1320px;
    min-height: 466px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-block: 64px;

    @media (width <= 1024px) {
        max-width: 100%;
        padding-inline: 154px;
        padding-block: 64px;
        row-gap: 73px;
    }

    @media (width <= 768px) {
        padding-block: 36px 88px;
        padding-inline: 12px;
    }
}

.links {
    max-width: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 318px 150px 150px 1fr;
    column-gap: 16px;

    @media (width <= 1024px) {
        grid-template-columns: 385px 1fr 1fr;
        row-gap: 77px;
    }

    @media (width <= 700px) {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 44px;
    }
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;

    @media (width <= 700px) {
        grid-column: span 2;
    }
}

.logoWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.name {
    text-transform: uppercase;
    font-family: var(--font-montserrat-bold-sans);
    color: var(--neutral-soft);
    font-size: var(--font-size-h4);
    line-height: 32px;
}

.copyrights,
.email {
    font-size: var(--font-size-m);
    line-height: 20.8px;
    color: var(--neutral-soft);
}

.list {
    display: flex;
    flex-direction: column;
    gap: 16px;

    & > .title {
        font-size: var(--font-size-m);
        line-height: 20.8px;
    }

    & > ul {
        list-style-type: none;
    }

    & > ul > li {
        font-size: var(--font-size-m);
        line-height: 20.8px;
        color: var(--neutral-soft);
    }

    @media (width <= 768px) {
        & > ul > li + li {
            margin-block-start: 4px;
        }
    }
}

.payments {
    padding-inline-start: 36px;
    display: flex;
    gap: 20px 16px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    & > img {
        flex: 0 1 auto;
        align-self: center;
    }

    @media (width <= 1024px) {
        grid-column: span 3;
    }

    @media (width <= 700px) {
        grid-column: span 2;
        padding-inline-start: 0;
    }
}

.disclaimer {
    text-align: center;
    font-family: var(--font-montserrat-sans);
    font-size: var(--font-size-m);
    line-height: 24px;
    color: var(--neutral-soft);
}
