.backButton {
    display: flex;
    align-items: center;
    gap: 4px;
    font-family: var(--font-barlow-regular-sans), sans-serif;
    font-size: var(--font-size-m);
    color: var(--text-color);
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    text-decoration: underline;
    text-decoration-color: var(--text-color);

    @media (width <= 1024px) {
        display: none;
    }
}

.backButton svg {
    width: 16px;
    height: 16px;
}
