.progress {
    display: flex;
    flex-direction: column;

    @media (width <= 1375px) {
        width: 435px;
        padding-block-start: 16px;
    }

    @media (width <= 768px) {
        width: 100%;
        max-width: 450px;
    }

    @media (width <= 500px) {
        padding-block: 20px;
    }
}

.percentages {
    position: relative;
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text {
    position: absolute;
    transform: translateX(-50%);
    composes: level;

    &:nth-child(1) {
        left: 10%;
    }
    &:nth-child(2) {
        left: 30%;
    }
    &:nth-child(3) {
        left: 50%;
    }
    &:nth-child(4) {
        left: 70%;
    }
    &:nth-child(5) {
        left: 90%;
    }
}

.labels {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.level {
    font-family: var(--font-barlow-regular-sans), sans-serif;
    font-size: var(--font-size-s);
    line-height: var(--font-line-height-130);
    color: var(--text-color);
}

.bar {
    position: relative;
    margin-block: 16px;

    @media (width <= 1375px) {
        margin: 6px 0 3px;
    }

    .markers {
        width: 100%;

        .marker {
            position: absolute;
            top: 0;
            rotate: 45deg;
            border-radius: 1px;
            width: 7px;
            height: 7px;
            animation: markerAppear 0.3s ease forwards;
        }
    }
}

@keyframes markerAppear {
    from {
        opacity: 0;
        translate: -50% 0;
    }
    to {
        opacity: 1;
        translate: -50% -50%;
    }
}

.track {
    height: 6px;
    background: #2b2e3d;
    border-radius: 4px;
    position: relative;
    overflow: hidden;

    .line {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        background: linear-gradient(90deg, #d84221 0%, #e1d74c 100%);
        border-radius: 4px;
        transition: width 0.3s ease;
    }
}
