.splitter {
    max-width: 100%;
    width: 100%;
    font-size: 30px;
    line-height: 70px;
    font-family: var(--font-barlow-bold-sans), serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('/images/splitter.png') center center no-repeat;
    background-size: auto 70px;
    padding-block: 100px;

    @media (width <= 665px) {
        font-size: 18px;
        padding-block: 32px;
        margin-inline: auto;
        background-size: auto 42px;
        line-height: 42px;
        width: calc(100% - 92px);
    }

    @media (width <= 440px) {
        width: calc(100% - 24px);
    }
}
