.wrapper {
    padding-inline: 8px;
    padding-block: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 8px;
}

.hotOffer {
    display: inline-flex;
    column-gap: 4px;
    padding-inline: 16px 12px;
    padding-block: 3px 5px;
    position: relative;
    background: linear-gradient(64deg, #ff1304, #f59505);
    border-radius: 8px;
    text-transform: uppercase;
    font-family: var(--font-barlow-extra-bold-sans), serif;
    font-size: var(--font-size-ss);
    line-height: var(--font-line-height-130);
}

.weeklyOffer {
    display: inline-flex;
    column-gap: 4px;
    padding-inline: 12px;
    padding-block: 3px 5px;
    position: relative;
    background: linear-gradient(-80deg, #1791b7, #213cca);
    border-radius: 8px;
    text-transform: uppercase;
    font-family: var(--font-barlow-extra-bold-sans), serif;
    font-size: var(--font-size-ss);
    line-height: var(--font-line-height-130);
}
