.whyUs {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 22px;

    @media (width <= 1024px) {
        padding-inline: 30px;
        column-gap: 20px;
        padding-block-end: 20px;
    }

    @media (width <= 600px) {
        padding-inline: 12px;
        padding-block-end: 48px;
    }
}

.image {
    height: auto;
    width: 631px;
    max-width: 100%;

    @media (width <= 800px) {
        display: none;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 28px;
    width: 100%;
    max-width: 728px;

    @media (width <= 600px) {
        row-gap: 16px;
    }
}

.item {
    display: flex;
    align-items: flex-start;
    column-gap: 20px;
    padding-block: 28px 35px;
    padding-inline: 28px;
    background: linear-gradient(
        85.33deg,
        rgba(59, 60, 104, 0.45) -7.4%,
        rgba(59, 60, 104, 0.182706) 129.88%,
        rgba(59, 60, 104, 0) 211.54%
    );
    border-radius: 18px;

    .iconWrapper {
        flex-shrink: 0;
        width: 62px;
    }

    .content {
        display: flex;
        flex-direction: column;

        .title {
            font-family: var(--font-barlow-bold-sans), serif;
            font-size: var(--font-size-h4);
            line-height: var(--font-line-height-130);
        }

        .text {
            font-size: var(--font-size-l);
            line-height: 28px;
            color: #a2a6c4;
        }

        .trust {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            column-gap: 24px;
            row-gap: 12px;
            padding-block-start: 20px;

            &:hover .stars > svg {
                background-color: #00b67a;

                path {
                    fill: var(--text-color);
                }
            }

            .trustInfo {
                display: flex;
                column-gap: 8px;

                & > span {
                    font-family: var(--font-barlow-bold-sans), serif;
                    font-size: var(--font-size-h4);
                    line-height: var(--font-line-height-130);
                }
            }
            .stars {
                display: flex;
                align-items: center;
                justify-content: center;
                column-gap: 6px;

                & > svg {
                    width: 32px;
                    height: 32px;
                    background-color: #3b3c68;
                    border-radius: 6px;
                    padding: 9px;
                    transition: all 0.2s ease-in-out;
                }
            }
        }
    }
}
