.orderTotalContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    margin-block-start: 76px;
}

.orderTotalText {
    font-family: var(--font-barlow-bold-sans), sans-serif;
    font-size: var(--font-size-h3);
    line-height: 32px;

    .orderTotalAmount {
        color: var(--yellow-500);
    }
}

.buyNowButton {
    font-family: var(--font-barlow-bold-sans), sans-serif;
    font-size: var(--font-size-h4);
    color: var(--background);
    background-color: var(--yellow-500);
    text-transform: uppercase;
    padding: 4px 120px;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
        background: var(--yellow-500-hover);
    }

    &:active {
        background: #d89f07;
    }

    @media (width <= 768px) {
        display: block;
        width: calc(100% - 72px);
        padding: 4px 0;
    }
}
