.container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.label {
    font-family: var(--font-barlow-regular-sans), sans-serif;
    font-size: var(--font-size-l);
    line-height: 28px;
    color: var(--text-color-secondary);
    padding-block: 20px;

    @media (width <= 768px) {
        padding-block-start: 0px;
        padding-block-end: 7px;
    }
}

.value {
    font-family: var(--font-barlow-bold-sans), sans-serif;
    font-size: 38px;
    line-height: 38px;
    padding-block: 14px;
    padding-inline-start: 12px;
    background: #27294c;
    border-radius: 8px;

    @media (width <= 768px) {
        font-size: 32px;
        line-height: 32px;
    }

    @media (width <= 400px) {
        font-size: var(--font-size-h3);
        line-height: 28px;
    }
}

.buttonsSection {
    display: flex;
    flex-direction: column;
    gap: 13px;
    padding-block: 30px;

    @media (width <= 768px) {
        margin-block-start: 0px;
        gap: 7px;
    }
}

.button {
    font-family: var(--font-barlow-bold-sans), sans-serif;
    font-size: var(--font-size-l);
    line-height: 24px;
    color: var(--dark-soft);
    background-color: var(--yellow-500);
    border-radius: 8px;
    padding: 12px 35px;
    cursor: pointer;
    transition: background-color 0.2s;
    width: 100%;
}

.withdrawButton {
    &:hover {
        color: var(--background);
        background: #dfaa22;
    }
}

.myWithdrawButton {
    color: var(--text-color);
    background: rgb(52, 52, 83);

    &:hover {
        background-color: #3a3b46;
    }
}
